body{
  margin: 0;
  padding: 0;
}
.navbar{
 
  background-color: black;
  color: white;
  padding-left: 20px;
  display: flex;
  gap:35px;
  height: 40px;
  text-align: center;
  margin-top: -10px;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.navbar2{ 
  color: white;
  height: 120px;
  margin-top: -22px;
  background-color: brown;
  text-align: center;
}

#text{
  padding-top: 25px; 
}
#text1{
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.outer-div{
  width: 100%;
  height: 230px;
  justify-content: center;
  display: flex;
  background-color: #FFF4F4;
  font-family: sans-serif, Arial, Helvetica, sans-serif; 
}

.inner-div{
  margin-left: 20px;
  height: 180px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 40px;
   
}

.box{
  color: white;
  background-color: #606971;
  height: 35px;
  width: 100px;
  border-radius: 5px;
} 
.outer-div1{
  width: 100%;
  height: 400px;
  background-color: white;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.inner-div1{
  columns: black;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: red; */
}
/* .table-color{
  background-color: brown;
} */
th{
  height: 20px;
  background-color: brown;
  color: white;
 
}

table, td, tr{
  
  color: rgb(106, 102, 102);
  text-align: left;
  height: 35px;
  border: 1px solid black;
  height: 80px;

  
  /* text-align: left; */
  border-collapse: collapse;
  
}

.image{
  height: 80px;
}