body{
  margin: 0;
  padding: 0;
}
.navbar{
 
  background-color: black;
  color: white;
  padding-left: 20px;
  display: flex;
  gap:35px;
  height: 40px;
  text-align: center;
  margin-top: -10px;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.navbar2{ 
  color: white;
  height: 120px;
  margin-top: -22px;
  background-color: brown;
  text-align: center;
}
.about{
   margin-left: -3px;
}

#text{
  padding-top: 25px; 
}
#text1{
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.outer-div{
  width: 100%;
  height: 230px;
  justify-content: center;
  display: flex;
  background-color: #FFF4F4;
  font-family: sans-serif, Arial, Helvetica, sans-serif; 
}

.inner-div{
  margin-left: 20px;
  height: 180px;
  margin: 20px;
  margin-left: 20px;
  margin-right: 40px;
   
}

.box{
  color: white;
  background-color: #606971;
  height: 35px;
  width: 100px;
  border-radius: 5px;
} 
.outer-div1{
  width: 100%;
  height: 400px;
  background-color: white;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
}
.inner-div1{
  columns: black;
  margin-top: 100px;
  margin-left: 20px;
  margin-right: 20px;
  /* background-color: red; */
}
/* .table-color{
  background-color: brown;
} */
th{
  height: 20px;
  background-color: brown;
  color: white;
 
}

table, td, tr{
  
  color: rgb(106, 102, 102);
  text-align: left;
  height: 35px;
  border: 1px solid black;
  height: 80px;

  
  /* text-align: left; */
  border-collapse: collapse;
  
}

.image{
  height: 80px;
}

.fitness-outer{
  width: 100%;
  margin-top: 20px;
  background-color: grey;
}
.fitness-tips{
  margin-top: 20px;
  height: 450px;
  justify-content: center;
  background-color: #FFF4F4;
}
h1{
 
  margin-left: 40px; 
}
.tips{
  color: black;
  line-height: 30px;
}
.Newsletter-box{
  margin-left: 20px;
  padding: 10px;
  color: white;
  /* font-weight: bold; */
  font-size: medium;
  height: 45px;
  background-color: rgb(41, 40, 40);
  border-radius: 5px;
}
.heading1{
  margin-left: 25px;
}
.Equipment{
  
  margin-right: 20px;
  background-color: rgb(241, 235, 237);
  min-height: 200px;
  text-align: center;
  
}

.Equipment-image{
  /* margin-top: 20px; */
  justify-items: center;
  width: 50px;
  height: 50px;
  
}
.outerside-div{
  
  background-color: #FFF4F4;
  width: 100%;
  min-height: 800px;

}
.inner-goals-div{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(221, 219, 219);
  height: 100px;

}
.first-box{
  color: white;
  background-color: brown;
  width: 20%;
  height: 40px;
  margin-left: 20px;
  text-align: center;
}
.second-box{
  color: white;
  background-color: brown;
  width:20%;
  height: 40px;
  /* margin-left: 20px; */
  text-align: center;
}
.third-box{
  color: white;
  background-color: brown;
  width: 20%;
  height: 40px;
  /* margin-left: 20px; */
  text-align: center;
}

.fourth-box{
  color: white;
  background-color: brown;
  width: 20%;
  height: 40px;
  /* margin-left: 20px; */
  text-align: center;
}

.first{
  color: white;
  flex: center;
  background-color: brown;
  width: 97%;
  height: 40px;
  margin-left: 20px;
  /* margin-right: 20px; */
  /* margin-left: 20px; */
  text-align: center;
  box-gap 20px;
  
}
.inner-goals-last
{
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(221, 219, 219);

  height: 300px;

}